* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, sans-serif;
}



body{
    background-image:url(/imagem/backgroud.gif);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #ffffff;
}
.areatexto {
    min-width: 400px;
    min-height: 150px;
    border-radius: 10px;
    padding: 10px;
    
}

header{
    display:flex ;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    font-size:12px;
}
form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Content ================== */
.content {
    width: 500px;
    height: auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 0px 50px 0px;
    background: rgba(rgb(136, 77, 77), green, blue, 10);
    background: ;
    border-radius: 50px;
}
.content input {
    color: #fff;
    width: 80%;
    height: 30px;
    border-radius: 5px;
    border: solid 3px;
    border-color: rgba(rgb(148, 10, 33, 10 ));
    background-color:rgba(148, 10, 33, 10);
    margin: 10px 0px 10px 0px;
    padding: 10px;
}

.content #sexo {
    display: flex;
    width: 450px;
    align-items: center;
}

.inputs_pes {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.inputs_exp {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tb_atual {
    display: none;
    justify-content: left;
    width: 100%;

}



#data_nascimento{
    width: 110px;
}

#sexo {
    width: 30px;
}

.content *{
    margin: 5px;
}


.button {
    width: 150px !important;
    padding: 5px !important;
    margin: 5px;
    border-radius: 5px !important;
    background:url(/imagem/—Pngtree—colorful\ technology\ button\ source\ file_5448823.png)!important;

   
}